html, body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #000033;
}

button, input {
  font-size: 2em;
  background-color: black;
  color: bisque;
  border: 2px solid red;
  padding: 5px;
}

.container {
  /* margin: 0 auto; */
  padding: 5px;
  width: 1340px;
  height: 800px;
  background-color: black;
  color: bisque;
  border: 2px solid red;
  transform: scale(0.8);
  transform-origin: top left;
}